codecov==2.1.11
coverage==5.5
flake8==3.9.2
pytest==6.2.4
pytest-cov==2.12.0
pytest-xdist==2.2.1
setuptools-scm==6.0.1
sphinx==3.5.4
sphinx-argparse==0.2.5
sphinx-issues==1.2.0
sphinx_rtd_theme==0.5.2
sphinxcontrib-programoutput==0.17
msprime==1.0.1
attrs==21.2.0
appdirs==1.4.4
humanize==3.5.0
pyslim==0.600
pandas==1.2.4
numpy==1.20.3
scikit-allel==1.3.3
zarr==2.8.1
biopython==1.78
